<div class="row card">
  <h2 class="head">Register Now</h2>
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="_id" name="_id" #_id="ngModel" [(ngModel)]="usersService.selectedUsers._id" type="hidden"
          class="validate">
        <input id="name" name="name" #name="ngModel" [(ngModel)]="usersService.selectedUsers.name" type="text"
          class="validate">
        <label for="name">Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="username" name="username" #username="ngModel" [(ngModel)]="usersService.selectedUsers.username"
          type="text" name="username" class="validate">
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" name="password" #password="ngModel" [(ngModel)]="usersService.selectedUsers.password"
          type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" [disabled]="!registerForm.valid" name="action">Sign Up
    </button>
    <button class="btn waves-effect waves-light" type="button" name="action" routerLink="/login">Log In
    </button>
  </form>
</div>
