<div class="container">
  <div class="buttons">

    <a class="nav-btn btn-large waves-effect waves-light" routerLink="/create"><i
        class="material-icons">add</i><span>Add New Student</span></a>
    <a class="nav-btn btn-large waves-effect waves-light red" (click)="logout()"><i
        class="material-icons">exit_to_app</i><span>Log Out</span></a>
  </div>
  <div class="scrollable">

    <table class="centered highlight z-depth-3">
      <thead>
        <tr>
          <th>Name</th>
          <th>Course</th>
          <th>Batch</th>
          <th>Semester</th>
          <th>Resedential Status</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let std of students">
          <td>{{std.name}}</td>
          <td>{{std.course}}</td>
          <td>{{std.batch}}</td>
          <td>{{std.semester}}</td>
          <td>{{std.resStatus}}</td>
          <td><a class="btn-floating btn-large waves-effect waves-light blue" routerLink='/edit/{{std._id}}'><i
                class="material-icons">edit</i></a></td>
          <td><a class="btn-floating btn-large waves-effect waves-light red" (click)="onDelete(std._id)"><i
                class="material-icons">delete</i></a></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
